{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table style='margin-top: 30px' class="table">
        <thead>
            <th>Symbol</th>
            <th>Company</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Time</th>
            <th>Type</th>
        </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{row["Symbol"]}}</td>
                        <td>{{row["Company"]}}</td>
                        <td>{{row["Price"]}}</td>
                        <td>{{row["Shares"]}}</td> 
                        <td>{{row["Time"]}}</td>
                        <td>{{row["Type"]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
{% endblock %}