{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table style='margin-top: 30px' class="table">
        <thead>
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Time</th>
            <th>Type</th>
        </thead>
            <tbody>
                {% for holding in holdings %}
                    <tr>
                        <td>{{holding["symbol"]}}</td>
                        <td>{{holding["name"]}}</td>
                        <td>{{holding["price"]}}</td>
                        <td>{{holding["shares"]}}</td> 
                        <td>{{holding["time"]}}</td>
                        <td>{{holding["type"]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
{% endblock %}