{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <table style='margin-top: 30px' class="table">
        <thead>
            <tr>
            {% for header in headings %}
                <th>{{ header }}</th>
            {% endfor %}
            </tr>
        {% for shares in shares %}
            {% for row in data %}
                <tbody>
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            {% endfor %}
        {% endfor %}
{% endblock %}
